# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Xcode Files
*.pbxproj
*.xcuserstate
*.xcworkspacedata
Bouncy/Bouncy.xcodeproj/

#VS Files
ipch/
Debug/
*.vcxproj
*.filters
Bouncy/Debug/
*.opensdf
*.sdf
*.sln
*.suo

#Platform Compatibility
Bouncy/Bouncy/PlatformCompatibility.h
